<div class="row">
    <div class="first col-12 col-xl-6 primero">
        <img src="assets/images/mano.jpg" alt="">

    </div>
    <div class="second col-12 col-xl-6 primero">
        <div class="cajaLogin">
            <div class="user">
                <label for="">Username</label>
                <br>
                <input type="text">
            </div>
            <div class="pass">
                <label for="">Password</label>
                <br>
                <input type="password">
            </div>
            <button class="btn btn-primary volver" [routerLink]="['/home']">VOLVER</button>
            <button class="btn btn-warning entrar">ENTRAR</button>
            <br>
            <a href="">He olvidado mi contraseña</a>
        </div>
    </div>

</div>