<div class="row">
    <div class="first col-12 col-xl-6 primero">
        <img src="assets/images/zapatillas.jpg" alt="">

    </div>
    <div class="second col-12 col-xl-6 primero">
        <div class="cajaLogin">
            <div class="user">
                <label for="">Username</label>
                <input type="text">
            </div>
            <div class="pass">
                <label for="">Password</label>
                <input type="password">
            </div>
        </div>
    </div>

</div>