<!-- CABECERA -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CERO -</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item font-weight-bold">
                <a class="nav-link font-weight-bold" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="#">¿Donde te necesitamos?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="#">Quienes Somos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="#">Registrate</a>
            </li>
        </ul>
    </div>
</nav>

<!-- REQUISITOS -->
<app-requisitos></app-requisitos>

<!-- titulo -->
<div class="contenedorTitulo">
    <h2 class="font-weight-bold">Regístrate</h2>
    <hr class=linea1>
</div>

<!-- Bloque de registro -->
<div class="form row">
    <div class="col-md-6 first">
        <form class="caja" [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" formControlName="username">
                <br>
                <label>Email</label>
                <input type="email" class="form-control" formControlName="email">
                <br>
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password">
                <button type="submit" value="Enviar" class="btn btn-primary">ENVIAR</button>
            </div>
        </form>
    </div>
    <div class="col-md-6 second">
        <div class="mx-auto">
            <img class="mx-auto" src="https://img.icons8.com/clouds/200/000000/enter-2.png">
            <h4 class="mx-auto" [routerLink]="['/login']">¿Ya estas registrado? Pulsa aqui</h4>
        </div>
    </div>
</div>