<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">

<div class="contenedorTitulo">
    <h2 class="font-weight-bold">¿Donde te necesitamos?</h2>
    <hr class=linea1>
</div>

<div class='info row'>
    <div class="col-12 col-xl-6 primero">
        <div class="row">
            <div class="col-6 col-xl-6 primeroUno">
                <p class="dato datoNumerico1">242.428</p>
                <p class="texto1">DONANTES DURANTE EL 2017</p>
            </div>
            <div class="col-6 col-xl-6 primeroDos">
                <p class="texto2">DONANTES EN TOTAL EN MADRID</p>
                <p class="dato datoNumerico2">188.328</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-6 segundo">
        <hr class="linea2">
        <p class="texto3">¿QUIERES SABER MAS Y AYUDARNOS?</p>
        <hr class="linea3">
        <a href="#" class="btn btn-success btn-large">Registrate! <i class="glyphicon glyphicon-user"></i></a>
    </div>
</div>

<div class="map">

</div>