<!-- TITULO  -->
<div class="contenedorTitulo">
    <h2 class="font-weight-bold">¿Quienes Somos?</h2>
    <hr class=linea1>
</div>


<!-- CONTENEDOR -->
<div class=caja>
    <div class="row">
        <div class="columna1 col-12 col-md-6">
            <h2>¿Quienes somos?</h2>
            <p class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil minima totam sunt officia
                animi quo. Enim
                ut assumenda voluptatem quaerat?</p>
            <h2>¿En que consiste este proyecto?</h2>
            <p class="answer">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur voluptatum sequi
                voluptates nulla odit
                officiis beatae sint reiciendis ex repellat.</p>
            <h2>¿Por que realizamos este proyecto?</h2>
            <p class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum aperiam nobis, omnis
                consequuntur
                consectetur repellat quidem saepe dolore pariatur qui.</p>
        </div>
        <div class="col-12 col-md-6 picture">
            <img src="assets/images/senal.jpg" alt="">
        </div>
    </div>
</div>