<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CERO -</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item font-weight-bold">
                <a class="nav-link font-weight-bold" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="#">¿Donde te necesitamos?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="#">Quienes Somos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="#">Registrate</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center no-repeat">
    <p class="lead mb-1">CERO NEGATIVO </p>
    <h1 class="slogan">Ponte en sus zapatos</h1>
</div>