<div class="cajaTitulo">
    <h2 class="font-weight-bold">Requisitos para ser donante</h2>
    <hr class=linea1>
</div>

<div class="cajaRegistro">
    <div class="row">
        <div class="col-12 col-xl-4 first">
            <img class="center-block" src="https://img.icons8.com/officel/80/000000/baby-bottle.png">
            <p class="text-center">Tener entre 18 y 65 años, pesar más de 50 kilos y ser una persona sana.</p>
        </div>
        <div class="col-12 col-xl-4 second">
            <img class="center-block" src="https://img.icons8.com/officel/80/000000/triangular-bandage.png">
            <p class="text-center">Las personas que tienen prohibido donar sangre incluye a personas con SIDA y
                residentes del Reino Unido nacidos entre 1980 y 1996.</p>
        </div>
        <div class="col-12 col-xl-4 third">
            <img class="center-block" src="https://img.icons8.com/officel/80/000000/pregnant.png">
            <p class="text-center">Mujeres embarazadas y personas tatuadas en los ultimos 6 meses.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-4 first">
            <img class="center-block" src="https://img.icons8.com/officel/80/000000/syringe.png">
            <p class="text-center">Si ha sido vacunado debes esperar 4 semanas, tambien si se ha pasado por una cirugía
                mayor 6
                meses.</p>
        </div>
        <div class="col-12 col-xl-4 second">
            <img class="center-block" src="https://img.icons8.com/officel/80/000000/temperature.png">
            <p class="text-center">No podrán hacerlo personas con fiebre.</p>
        </div>
        <div class="col-12 col-xl-4 third">
            <img class="center-block" src="https://img.icons8.com/officel/80/000000/prop-plane.png">
            <p class="text-center">Si se ha visitado una zona endémica la persona quedara excluida durante 6 meses.</p>
        </div>
    </div>
</div>






<!-- <a href="https://icons8.com/icon/55992/not-suitable-for-children-under-age-x">Not Suitable for Children Under Age X
    icon
    by Icons8</a>

<a href="https://icons8.com/icon/ZeDjAHMOU7kw/sick">Sick icon by Icons8</a> -->

<!-- <a href="https://icons8.com/icon/oEPQraaj7BTD/baby-bottle">Baby Bottle icon by Icons8</a> -->

<!-- <a href="https://icons8.com/icon/JTOzh5MNlT-G/temperature">Temperature icon by Icons8</a> -->
<!-- <a href="https://icons8.com/icon/C7Q1wz0DAlZR/aircraft">Aircraft icon by Icons8</a> -->
<!-- <a href="https://icons8.com/icon/c60BneuoETTH/syringe">Syringe icon by Icons8</a> -->