<!-- CABECERA -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CERO -</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item font-weight-bold">
                <a class="nav-link font-weight-bold" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="#">¿Donde te necesitamos?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="#">Quienes Somos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="#">Registrate</a>
            </li>
        </ul>
    </div>
</nav>

<!-- REQUISITOS -->
<app-requisitos></app-requisitos>

<!-- titulo -->
<div class="contenedorTitulo">
    <h2 class="font-weight-bold">Regístrate</h2>
    <hr class=linea1>
</div>

<!-- Bloque de registro -->
<form class="caja">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Nombre</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Nombre">
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Apellidos</label>
            <input type="texto" class="form-control" id="inputEmail4" placeholder="Apellidos">
        </div>
        <div class="form-group col-md-6">
            <label for="inputTipo">Tipo de sangre</label>
            <select id="inputTipo" class="form-control">
                <option selected>Choose...</option>
                <option>A+</option>
                <option>B+</option>
                <option>O+</option>
                <option>AB+</option>
                <option>A-</option>
                <option>B-</option>
                <option>O-</option>
                <option>AB-</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <p class="textoDonar">Introduce varias direcciones en la que estes frecuentemente y asi tener mas posibilidades
            de donar! 💉 </p>
    </div>
    <div class="form-group">
        <label for="inputDireccion">Dirección Principal</label>
        <input type="text" class="form-control" id="inputDireccion" placeholder="Dirección principal">
    </div>
    <div class="form-group">
        <label for="inputAddress2">Dirección Secundaria</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Dirección secundaria">
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputCity">Ciudad</label>
            <input type="text" class="form-control" id="ciudad" placeholder="Ciudad">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Provincia</label>
            <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>Álava</option>
                <option>Albacete</option>
                <option>Alicante</option>
                <option>Almería</option>
                <option>Asturias</option>
                <option>Ávila</option>
                <option>Badajoz</option>
                <option>Barcelona</option>
                <option>Burgos</option>
                <option>Cáceres</option>
                <option>Cádiz</option>
                <option>Cantabria</option>
                <option>Castellón</option>
                <option>Ciudad Real</option>
                <option>Córdoba</option>
                <option>La Coruña</option>
                <option>Cuenca</option>
                <option>Gerona</option>
                <option>Granada</option>
                <option>Guadalajara</option>
                <option>Guipúzcoa</option>
                <option>Huelva</option>
                <option>Huesca</option>
                <option>Baleares</option>
                <option>Jaén</option>
                <option>León</option>
                <option>Lérida</option>
                <option>Lugo</option>
                <option>Madrid</option>
                <option>Málaga</option>
                <option>Murcia</option>
                <option>Navarra</option>
                <option>Orense</option>
                <option>Palencia</option>
                <option>Las Palmas</option>
                <option>Pontevedra</option>
                <option>La Rioja</option>
                <option>Salamanca</option>
                <option>Segovia</option>
                <option>Sevilla</option>
                <option>Soria</option>
                <option>Tarragona</option>
                <option>Santa Cruz de Tenerife</option>
                <option>Teruel</option>
                <option>Toledo</option>
                <option>Valencia</option>
                <option>Valladolid</option>
                <option>Vizcaya</option>
                <option>Zamora</option>
                <option>Zaragoza</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="inputZip">Código Postal</label>
            <input type="text" class="form-control" id="código postal" placeholder="Código Postal">
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Haz click en esta casilla si quieres que te tengamos en cuenta en caso de donacion urgente fuera de tu
                rango de ubicación.
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary ">ENVIAR</button>
</form>